body{
    background-color: hsl(240, 16%, 18%);
}

#borde-superior{
    width: 100%;
    height: 60px;
    background-color: hsl(240, 16%, 21%);
    position: fixed;
    top: 0;
    left: 0;
}

#texto-aka{
    font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
    display: inline-block;
    line-height: 0.5;
    margin-left: 20px;
    background: linear-gradient(to right, #f9d8b6, #ea9641);
    -webkit-background-clip: text;  
    background-clip: text;
    color: transparent;
    background-size: 100%;
}

#presentacion{
    background-color: hsl(240, 16%, 21%);
    display: flex;
    align-items: center;
    max-width: 500px;
    max-height: 110px;
    margin: 120px auto;
    border-radius: 30px;
}

.perfil{
    width: 85px; 
    height: auto; 
    border-radius:50%; 
    border: 4px solid hsl(240, 16%, 28%);
    margin: 30px;
}

.nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    margin-bottom: 0;
}

.arroba{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: antiquewhite;    
    margin-top: 2px;
}